<turbo-stream action="append" target="zone-list">
	<template>
		<div class="zone-item collapse collapse-arrow bg-base-200 border-base-300 border m-5"
			 id="zone-{{ zone.id }}"
			 data-zone-id="{{ zone.id }}"
			 data-zone-page="{{ zone.page }}"
			 data-zone-coords="{{ zone.coordonnees|json_encode|e('html_attr') }}">
			<input type="checkbox"/>
			<h3 class="collapse-title font-semibold">{{ zone.libelle }}</h3>
			<div class="collapse-content">
				<div class="flex flex-col">
					<div class="flex flex-row justify-between">
						<button class="btn btn-outline btn-success" data-zone-id="{{ zone.id }}" onclick="openAddChampsModal({{ zone.id }})">
							<i class="fa-solid fa-plus"></i>Ajouter un champs
						</button>
						<form method="delete" action="{{ path('admin_typelivrable_zone_delete', { 'id': zone.id }) }}">
							<button class="btn btn-outline btn-error" type="submit" data-confirm="Êtes-vous sûr de vouloir supprimer cette zone ?">
								<i class="fa-regular fa-trash-can"></i>Supprimer la zone
							</button>
						</form>
						<button
								class="btn btn-outline btn-secondary"
								data-zone-id="{{ zone.id }}"
								id="s">
							<i class="fa-regular fa-pen-to-square"></i>
							Modifier les coordonnées
						</button>
					</div>
					<div id="zone-{{ zone.id }}-champs-list" class="flex flex-col mt-2">
						{% for champs in zone.champs %}
							<div class="card bg-base-100 shadow-xl m-2 p-2" id="champs-{{ champs.id }}" data-champs-id="{{ champs.id }}">
								<div class="card-body">
									<h2 class="card-title">{{ champs.nom }}</h2>
									<p>
										<b>Type :
										</b>
										{{ champs.typeChamps.nom }}</p>
									<p>
										<b>Question :
										</b>
										{{ champs.question }}</p>
									<p>
										<b>Données ERP :
										</b>
										{{ champs.donneeERP }}</p>
									<form method="delete" action="{{ path('admin_typelivrable_champs_delete', { 'id': champs.id }) }}">
										<button type="submit" class="btn btn-outline btn-error">
											<i class="fa-regular fa-trash-can"></i>Supprimer le champs
										</button>
									</form>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</template>
</turbo-stream>