<turbo-stream action="append" target="zone-{{ zoneId }}-champs-list">
	<template>
		<div class="card bg-base-100 shadow-xl m-2 p-2" id="champs-{{ champs.id }}" data-champs-id="{{ champs.id }}">
			<div class="card-body">
				<h2 class="card-title">{{ champs.nom }}</h2>
				<p>
					<b>Type :
					</b>
					{{ champs.typeChamps.nom }}</p>
				<p>
					<b>Question :
					</b>
					{{ champs.question }}</p>
				<p>
					<b>Données ERP :
					</b>
					{{ champs.donneeERP }}</p>
				<form method="delete" action="{{ path('admin_typelivrable_champs_delete', { 'id': champs.id }) }}">
					<button type="submit" class="btn btn-outline btn-error">
						<i class="fa-regular fa-trash-can"></i>Supprimer le champs
					</button>
				</form>
			</div>
		</div>
	</template>
</turbo-stream>
