{% extends 'base.html.twig' %}

{% block title %}Admin
{% endblock %}

{% block javascripts %}
	{{ encore_entry_script_tags('pdf-editor') }}
{% endblock %}

{% set zonesJson = typeLivrable.zones|map(z => {
	'id': z.id,
	'page': z.page,
	'coords': {
		'x1': z.coordonnees.x1,
		'x2': z.coordonnees.x2,
		'y1': z.coordonnees.y1,
		'y2': z.coordonnees.y2
	}
})|json_encode() %}

{% block body %}
	<h1 class="text-2xl font-bold mb-4">Paramétrage du livrable :
		{{ typeLivrable.nom }}</h1>
	<div
		class="flex gap-4 mb-4">
		<!-- Partie gauche : PDF + sélection -->
		<div
				id="pdf-editor"
				class="w-1/3"
				data-controller="pdf-editor"
				data-pdf-editor-url-value="{{ asset('uploads/pdf/' ~ typeLivrable.path) }}"
				data-zones='{{ zonesJson|raw }}'  {# << here! #}
		>
			<canvas id="pdf-editor-canvas" data-pdf-editor-target="canvas" class="w-full h-full block" style="cursor: default;"></canvas>
			<div class="flex justify-center mt-2">
				<div class="join">
					<button id="prevPage" class="join-item btn" data-action="pdf-editor#prevPage">
						<i class="fa-solid fa-chevron-left"></i>
					</button>

					<span id="pageInfo" class="join-item btn" data-pdf-editor-target="pageInfo">
						Page 1
					</span>

					<button id="nextPage" class="join-item btn" data-action="pdf-editor#nextPage">
						<i class="fa-solid fa-chevron-right"></i>
					</button>
				</div>
			</div>
		</div>

		<!-- Partie Droite : sélection de la zone et configuration -->
		<div class="w-2/3 flex flex-row">
			<div class="w-full ">
				<div class="m-3">
					<h2 class="text-xl text font-semibold text-center">Zones</h2>
				</div>
				<div class="flex justify-center p-5">
					<button id="addZoneBtn" class="btn btn-sm btn-primary">Ajouter une zone</button>
				</div>
				<div id="zone-list" class="mx-3 content-center">
					{% for zone in typeLivrable.zones %}
						<div class="collapse collapse-arrow bg-base-200 border-base-300 border m-5" id="zone-{{ zone.id }}">
							<input type="checkbox"/>
							<h3 class="collapse-title font-semibold">{{ zone.libelle }}</h3>
							<div class="collapse-content">
								<div class="flex flex-col">
									<div class="flex flex-row justify-between">
										<button class="btn btn-outline btn-success" data-zone-id="{{ zone.id }}" onclick="openAddChampsModal({{ zone.id }})">
											<i class="fa-solid fa-plus"></i>Ajouter un champs
										</button>
										<form method="delete" action="{{ path('admin_typelivrable_zone_delete', { 'id': zone.id }) }}">
											<button class="btn btn-outline btn-error" type="submit" data-confirm="Êtes-vous sûr de vouloir supprimer cette zone ?">
												<i class="fa-regular fa-trash-can"></i>Supprimer la zone
											</button>
										</form>
										<button
												class="btn btn-outline btn-secondary"
												data-zone-id="{{ zone.id }}"
												id="updateZone"
										>
											<i class="fa-regular fa-pen-to-square"></i>
											Modifier les coordonnées
										</button>
									</div>
									<div id="zone-{{ zone.id }}-champs-list" class="flex flex-col mt-2">
										{% for champs in zone.champs %}
											<div class="card bg-base-100 shadow-xl m-2 p-2" id="champs-{{ champs.id }}" data-champs-id="{{ champs.id }}">
												<div class="card-body">
													<h2 class="card-title">{{ champs.nom }}</h2>
													<p>
														<b>Type :
														</b>
														{{ champs.typeChamps.nom }}</p>
													<p>
														<b>Question :
														</b>
														{{ champs.question }}</p>
													<p>
														<b>Données ERP :
														</b>
														{{ champs.donneeERP }}</p>
													<form method="delete" action="{{ path('admin_typelivrable_champs_delete', { 'id': champs.id }) }}">
														<button type="submit" class="btn btn-outline btn-error">
															<i class="fa-regular fa-trash-can"></i>Supprimer le champs
														</button>
													</form>
												</div>
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>

	<dialog id="modal-zone" class="modal">
		<div class="modal-box">
			{# TODO #}
			{# <turbo-frame id="zone-modal-frame" src="{{ url('admin_typelivrable_zone_form')}}" loading="lazy" target="modal-zone"></turbo-frame> #}
				<h3 class="text-lg font-bold"> Configuration de la zone</h3>
			<p class="py-4">Veuillez configurer les paramètres de la zone ici.</p>
			{{ form_start(formZone, { 'attr': {  } }) }}
			<div class="form-control mb-4">
				{{ form_label(formZone.libelle) }}
				{{ form_widget(formZone.libelle, {'attr': {'class': 'input input-bordered w-full'}}) }}
			</div>
			{{ form_widget(formZone.coordonnees, {'attr': {'class': 'hidden'}}) }}
			{{ form_widget(formZone.page, {'attr': {'class': 'hidden'}}) }}
			<button type="submit" class="btn btn-primary">Enregistrer</button>
			{{ form_end(formZone) }}</div>
	</dialog>

	<dialog id="modalChamps" class="modal">
		<div class="modal-box">
			<turbo-frame id="champs_form" src="{{ url('admin_typelivrable_champs_form')}}?zone_id=null " loading="lazy" target="modal-champs"></turbo-frame>
		</div>
	</dialog>

	<script>
		function openAddChampsModal(zoneId) {
			const turboFrame = document.getElementById('champs_form');
			turboFrame.src = `/admin/livrable/champs/form?zone_id=` + zoneId;

			// Afficher la modale
			const modal = document.getElementById('modalChamps');
				modal.showModal();
		}
			// Fermer la modal après la soumission du formulaire
		document.addEventListener('turbo:submit-end', function (event) {
			const modal = document.getElementById('modalChamps');
			if (modal.open) {
				modal.close(); // Ferme la modal
			}
		});
		    // Fermer la modal après la soumission du formulaire
    document.addEventListener('turbo:submit-end', function (event) {
        const modal = document.getElementById('modal-zone');
        if (modal.open) {
            modal.close(); // Ferme la modal
        }
    });
	</script>
{% endblock %}
