<turbo-stream action="remove" target="none-row">
</turbo-stream>

<turbo-stream action="prepend" target="tabresultsTableBody">
	<template>
		<tr id="document-row-{{ document.id }}">
			<td>{{ document.nom }}</td>
			<td class="text-center">
				{% if document.statut is not null %}
					{% if document.statut.id == 1 %}
						<i class="fa-solid fa-lg fa-circle-check text-success"></i>
					{% elseif document.statut.id == 2 %}
						<i class="fa-solid fa-lg fa-circle-exclamation text-warning"></i>
					{% else %}
						<i class="fa-solid fa-lg fa-circle-xmark text-error"></i>
					{% endif %}
				{% else %}
					<i class="fa-solid fa-lg fa-circle-xmark text-error"></i>
				{% endif %}
			</td>
			<td>
				{{ document.typeLivrable.nom }}
			</td>
			<td>
				{% if document.statut is not null %}
					<button class="btn btn-primary {% if document.statut.id == 6 %} btn-disabled {% endif %}" onclick="openVoirControlesModal({{ document.id }})">
						<i class="fa-solid fa-lg fa-magnifying-glass"></i>
						Voir
					</button>
				{% endif %}


				<form method="post" action="{{ path('delete_document', { id: document.id }) }}"
					  onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce document ?');"
					  data-turbo="true"
					  class="d-inline">
					<input type="hidden" name="_token" value="{{ csrf_token('delete_document_' ~ document.id) }}">
					<button class="btn btn-danger ms-2">
						<i class="fa-solid fa-lg fa-trash"></i> Supprimer
					</button>
				</form>
			</td>
		</tr>
	</template>
</turbo-stream>

<turbo-stream action="append" target="alert">
	<template>
		<div id="toast-success" class="toast-top toast-end toast">
			<div class="alert alert-success shadow-lg">
				<i class="fa-solid fa-circle-check"></i>
				<span>Document ajouté avec succès</span>
				<button class="btn btn-sm btn-circle btn-ghost" onclick="closeToast()">
					<i class="fa-solid fa-xmark"></i>
				</button>
			</div>
		</div>
	</template>
</turbo-stream>
