{% extends 'base.html.twig' %}


{% block body %}
	<div id="alert"></div>
	<div class="flex justify-center">
		<turbo-frame id="document-frame" src="{{ url('document_form') }}" loading="lazy">
			<div class="skeleton w-80 h-64"></div>
		</turbo-frame>
	</div>
	<div class="flex justify-center">
		<div class="m-5 w-1/2">
			<table id="resultsTable" class="table">
				<thead>
					<tr>
						<th>Nom du document</th>
						<th>État</th>
						<th>Type de document</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="tabresultsTableBody">
					{% if documents is empty %}
						<tr>
							<td colspan="4" class="text-center">Aucun document trouvé</td>
						</tr>
					{% endif %}
					{% for document in documents %}
						<tr>
							<td>{{ document.nom }}</td>
							<td class="text-center">
								{% if document.statut is not null %}
									{% if document.statut.id == 1 %}	
										<i class="fa-solid fa-lg fa-circle-check text-success"></i>
									{% elseif document.statut.id == 2 %}
										<i class="fa-solid fa-lg fa-circle-exclamation text-warning"></i>
									{% else %}
										<i class="fa-solid fa-lg fa-circle-xmark text-error"></i>
									{% endif %}
								{% else %}
									<i class="fa-solid fa-lg fa-circle-xmark text-error"></i>
								{% endif %}
							</td>
							<td>
								{{ document.typeLivrable.nom }}
							</td>
							<td>
								{% if document.statut is not null %}
									<button class="btn btn-primary {% if document.statut.id == 6 %} btn-disabled {% endif %}" onclick="openVoirControlesModal({{ document.id }})">
										<i class="fa-solid fa-lg fa-magnifying-glass"></i>
										Voir
									</button>
								{% endif %}
							</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
	<dialog id="modalControles" class="modal">
		<div class="modal-box">
			<turbo-frame id="affichageControles" src="{{ url('affichage_controle')}}" loading="lazy">
				<div class="flex justify-center">
					<div class="loading loading-xl loading-spinner text-primary h-96"></div>
				</div>
			</turbo-frame>
		</div>
		<form method="dialog" class="modal-backdrop">
			<button>close</button>
		</form>
	</dialog>
	<script>
		function openVoirControlesModal(documentID) {
			const turboFrame = document.getElementById('affichageControles');
			turboFrame.src = `/document/controles/?id=` + documentID;

			// Afficher la modale
			const modal = document.getElementById('modalControles');
			modal.showModal();
		}

		function closeToast() {
			const toast = document.getElementById('toast-success');
			toast.remove();
		}
	</script>
{% endblock %}
