<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Catalys OCR
			{% endblock %}
		</title>
		<link rel="icon" href="">
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{% block importmap %}
				{{ importmap('app') }}
			{% endblock %}
			{{ encore_entry_link_tags('app') }}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>
	<body class="flex flex-col min-h-screen">
		<header>
			{{ include('navbar.html.twig') }}
		</header>
		<div class="m-5"> {% block body %}{% endblock %}
			</div>
			<footer class="mt-auto">
				{{ include('footer.html.twig') }}
			</footer>
		</body>
	</html>
